В ноутбуке предлагается реализовать мини-проект -- решить задачу бинарной классификации, начиная с выявления некоторых зависимостей в данных и заканчивая подбором гиперпараметров. В скобках указано максимальное количество баллов за соответсвующий пункт задания. 

_(Но на самом деле это ноутбук для практики рисования графиков)_

### Чтение данных.
Воспользуемся данными переписи населения. Целевая переменная - salary. Вам предлагается сделать бинарную классификацию, и определить по остальным признакам зарплату человека.

In [1]:
import pandas as pd
import numpy as np

# Считываем данные
df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data',)

# Назначаем имена колонок
columns = ('age workclass fnlwgt education educ-num marital-status occupation relationship '
           'race sex capital-gain capital-loss  hours-per-week native-country salary')

df.columns = columns.split() #этот метод разделит датасет по колонкам как в массиве columns

df.drop('education', 1, inplace=True) # это поле нам не понадобится, т.к. есть educ-num
df['salary>50'] = df['salary'].map({' <=50K': 0, ' >50K': 1}) # подготовим целевую переменную

df.head()

,age,workclass,fnlwgt,educ-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary,salary>50
0,50,Self-emp-not-inc,83311,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K,0
1,38,Private,215646,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K,0
2,53,Private,234721,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K,0
3,28,Private,338409,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K,0
4,37,Private,284582,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K,0

### 1. Анализ данных (3)
1. Посмотрите, как вероятность зарабатывать >50K зависит от переменной `workclass`. (подсказка: `sns.barplot`)

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

# YOUR CODE HERE

2. Так же от `educ-num` и `race`

In [ ]:
# YOUR CODE HERE

In [ ]:
# YOUR CODE HERE

3. Постройте распределения по возрасту для двух значений целевой переменной (подсказка: `sns.violonplot`)

In [ ]:
# YOUR CODE HERE

Любые другие зависимости по желанию

In [ ]:
# YOUR CODE HERE

### 2. Подготовка данных (2)

In [2]:
X = df.iloc[:, :-2]
y = df['salary>50']
y.unique()

array([0, 1])

Разбейте датасет на тренировочную и тестовую части в соотношении 80:20. Используйте `random_state=42`

In [3]:
from sklearn.model_selection import train_test_split

# YOUR CODE HERE
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, test_size=0.2)

#### One-hot encoding
Сделайте one-hot-encoding категориальных признаков.  
Только не используйте `pd.get_dummies`, потому что данные уже разбиты на трейн и тест.  
Возможно, в тесте некоторых категорий не хватает.  
К тому же, подумайте, как Вы будете использовать `get_dummies`, когда нужно будет разворачивать модель на продакшен?  
На проде будет приходить по одному примеру, а `get_dummies` работает с целыми наборами данных.  

Поэтому, используйте класс `sklearn.preprocessing.OneHotEncoder` (описание: https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.OneHotEncoder.html).  
По использованию он похож на `StandardScaler`.

In [4]:
from sklearn.preprocessing import OneHotEncoder

In [5]:
import sklearn
print(sklearn.__version__)

0.24.1

In [30]:
categorical_columns = 'workclass marital-status occupation relationship race sex native-country'.split()

# YOUR CODE HERE

Отмасштабируйте признаки с помощью `StandardScaler`

In [ ]:
# YOUR CODE HERE

### 3. Обучение моделей (2)
Создайте любую модель и обучите на этих тренировочных данных. Сделайте предсказания на тестовых данных и сохраните в переменной `predictions`. Добейтесь того, чтобы `f1_score` на тестовых данных был не меньше `0.66`

In [ ]:
# YOUR CODE HERE

In [ ]:
from sklearn.metrics import f1_score

print('f1_score:', f1_score(y_test, predictions))

### *4. Кривая обучения (3, бонус)

Как зависит качество модели от количества обучающих данных?  
Выясните это, построив график.  
Обучите логистическую регрессию сначала на 1% обучающей выборки, потом на 2% и т.д. до 100%. Измеряйте каждый раз `f1_score` на тестовых данных. Постройте график зависимости `f1_score` от количества данных.

In [ ]:
# YOUR CODE HERE